name: fast_cached_image
description: Fast Flutter network image loader with memory & disk cache, isolate decoding, prefetch, and web support.
version: 0.1.0
homepage: https://github.com/prometteurShubhamK/cached_image.git

environment:
  sdk: ">=2.17.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  http: ^1.2.0
  path_provider: ^2.1.2
  crypto: ^3.0.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0
